* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

.title {
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  color: white;
  margin-top: 1em;
  margin-bottom: 1em;
}

.gridWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: dense;
  justify-content: space-between;
}

.gif0 {
  justify-self: center;
}

.gif1 {
  justify-self: center;
}

.gif2 {
  justify-self: center;
}

.buttonWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

@media screen and (max-width: 800px) {
  .gridWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: dense;
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .gridWrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: dense;
    justify-content: space-between;
  }
}

.reveal {
  grid-column-start: 2;
  grid-row-start: 3;
}

button.reveal {
  background-color: #004A7F;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Arial;
  font-size: 20px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}

@-webkit-keyframes glowing {
  0% {
    background-color: #B20000;
    -webkit-box-shadow: 0 0 3px #B20000;
  }

  50% {
    background-color: #FF0000;
    -webkit-box-shadow: 0 0 40px #FF0000;
  }

  100% {
    background-color: #B20000;
    -webkit-box-shadow: 0 0 3px #B20000;
  }
}

@-moz-keyframes glowing {
  0% {
    background-color: #B20000;
    -moz-box-shadow: 0 0 3px #B20000;
  }

  50% {
    background-color: #FF0000;
    -moz-box-shadow: 0 0 40px #FF0000;
  }

  100% {
    background-color: #B20000;
    -moz-box-shadow: 0 0 3px #B20000;
  }
}

@-o-keyframes glowing {
  0% {
    background-color: #B20000;
    box-shadow: 0 0 3px #B20000;
  }

  50% {
    background-color: #FF0000;
    box-shadow: 0 0 40px #FF0000;
  }

  100% {
    background-color: #B20000;
    box-shadow: 0 0 3px #B20000;
  }
}

@keyframes glowing {
  0% {
    background-color: #B20000;
    box-shadow: 0 0 3px #B20000;
  }

  50% {
    background-color: #FF0000;
    box-shadow: 0 0 40px #FF0000;
  }

  100% {
    background-color: #B20000;
    box-shadow: 0 0 3px #B20000;
  }
}